@import url(./assets/font/poppins/Poppins-Regular.ttf);

@import url("https://fonts.googleapis.com/css?family=Playfair+Display:1,300,400,400italic,500,700,700italic,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
:root {
  --bg-color: #f2b5d4;
  --second-bg-color: #ffc5828c;
  --main-color: #00eeff93;
  --w-color: #ffffff;
  --white: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

/* ================section_about1============================== */

.about1 {
  /* background-color: rgba(0, 0, 0, 0.2); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.about1 h1 {
  margin-top: 0;
  color: var(--white);
  text-align: center;
  font-size: 20rem;
  font-family: "Billin dreams";
  font-style: italic;
  /* font-family: var(--w-color); */
}

/* ================fin_section_about1============================== */

/* ===================about=========================== */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: rgba(0, 0, 0, 0.2);
}

.about-img img {
  width: 40vw;
  height: 30vw;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}
.about-content h3 {
  font-size: 4.6rem;
  text-transform: uppercase;
  font-family: "Billin dreams";
  font-style: italic;
  color: var(--white);
}
.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

/* =====================fin_about====================== */

/* ==========================engagement====================== */

.sect {
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  min-height: 50vh;
}

.content h2:hover {
  transform: scale(1.02);
  color: var(--white);
}

/* section {
   min-height: 100vh;
  padding: 10rem 9% 2rem;
} */
h1 {
  margin: 0 0 10px;
  font-size: 3.7rem;
  font-family: "Billin dreams";
  text-transform: uppercase;
}

h2 {
  font-size: 2.7rem;

  transition: 0.5s ease;
}
.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.content p {
  font-size: 1.7rem;
  color: var(--w-color);
}

@media screen and (max-width: 840px) {
  .content {
    grid-template-columns: 50% 50%;
  }
  .about1 h1 {
    font-size: 10rem;
    /* font-family: var(--w-color); */
  }
}

@media screen and (max-width: 450px) {
  .content {
    grid-template-columns: 100%;
  }
}
.content div {
  margin: 14px;
}

/* ==========================Fin_engagement====================== */

/* ==============================footer================================ */

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 4rem 20%;
  background: var(--white);
}
.footer-text p {
  font-size: 2rem;
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  border-radius: 0.8rem;
  transition: 0.5s ease;
}
.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--white);
}
.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--text-color);
}

/* ============================fin_footer================================ */

/* ==========================responsive======================= */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }

  .footer {
    padding: 2rem 3%;
  }
  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }
  }

  @media (max-width: 778px) {
    .about {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: auto;
      align-items: center;
      gap: 2rem;
      background: var(--w-color);
    }
    .about-img img {
      width: 100%;
      height: auto;
    }
  }
  @media (max-width: 365px) {
    .footer {
      flex-direction: column-reverse;
    }
    .footer p {
      text-align: center;
      margin-top: 2rem;
    }
  }
}
